@use '../utils' as *;


.container {
  max-width: rem(1110);
  padding: 0 rem(25);
  @include breakpoint(large) {
    padding: 0;
  }
}

.cards_container{
  margin:  auto;
  display: grid;
  grid-template-columns:  1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: rem(30);
  @include breakpoint(large) {
    grid-template-columns: repeat(4 , 1fr);
  }

  @include breakpoint-up(medium){
    grid-template-columns:1fr;
  }
}
