@use '../utils' as *;

.card {
    background-color: var(--dark-card);
    color: var(--dark-text1);
    border-radius: rem(5);
    text-align: center;
    padding: rem(25);
    width: 100%;

    @include breakpoint(large) {
        width: rem(255);
    }
     &--facebook{
        border-top: rem(4) solid var(--facebook);
     }
    &--twitter{
        border-top: rem(4) solid var(--twitter);
    }
    &--instagram{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: rem(5);
            background: linear-gradient(
                to right, 
                var(--instagram-start), 
                var(--instagram-mid), 
                var(--instagram-end));
            border-radius: rem(5) rem(5) 0 0;
        }
        .card__platform{
            margin-top: rem(5);
        }
    }
    &--youtube{
        border-top: rem(4) solid var(--youtube);
    }

    &__platform{
        display: flex;
        justify-content: center;
        align-items: center;
        gap : rem(8);
        margin-bottom: rem(28);
        height: rem(20);
    }
    


    &__username{
        font-size: rem(12);
        font-weight: 700;
    }

    &__followers{
        margin-bottom: rem(25);
    }

    &__count{
        color: var(--dark-text2);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(4);
        &--big{
            font-size: rem(56);
        }
    }

    &__label{
        font-size: rem(12);
        font-weight: 400;
        color: var(--dark-text1);
        letter-spacing : rem(5);
        text-transform: uppercase;
    }

    &__change{
        font-size: rem(12);
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        &--up{
            color: var(--limegreen);
        }
        &--down{
            color: var(--brightred);
        }


        img{
            margin-right: rem(4);
        }
    }

}
