@use '../utils' as *;

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: rem(36) auto 0 auto;
    align-items: center;


    &__subtitle{
        font-size: rem(14);
        font-weight: 700;
        color: var(--dark-text1);
    }

    
    
}