@use '../utils' as *;


.toggle {
    border: none;
    display: flex;
    align-items: center;
    gap: rem(13);
    margin: 0;
    width: fit-content;

    label {
        font-size: rem(14);
        cursor: pointer;
        color: var(--toggle);
        &[for="dark"] {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: right;
        }
    }

    input[type="radio"]{
        opacity: 0;
        cursor: pointer;
        outline: none;
        margin: 0 ;
        z-index: -1;
        width: rem(20);
        height: rem(20);
        margin-top: rem(2);

        &:focus ~ .toggle__button{
            outline: 1px solid white;
        }
    }

    &__wrapper{
        height : rem(24);
        position: relative;
    }

    &__background{
        position: absolute;
        top: 0;
        z-index: 100;
        height: 100%;
        width: rem(42);
        display: block;
        border-radius: rem(12);
        overflow: hidden;
        pointer-events: none;
        background: linear-gradient(
            255deg ,
            var(--toggle-bg-start) 0%,
            var(--toggle-bg-end) 98.02%);
    }

    &__button{
        position: absolute;
        left: rem(3);
        top: rem(3);
        z-index: 200;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: var(--darg-bg);
        transition: all 150ms ease-in-out;
    }

    #light:checked ~ .toggle__button{
        left: calc(100% - 23px);
    }
}